@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Urbanist' sans-serif;
    align-items: center;
}

.calendar {
    padding: 1rem;
    width: 650px;
    height: auto;
}

.calendar h3 {
    text-align: center;
    color: #3bb2de;
    font-size: x-large;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    height: 309px;
    margin-left: 150px;
    margin-top: 10px;
}

.form label {
    color: #113C6E;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.submit, .form button{
    color: #FFF;
    background-color: #3bb2de;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: fit-content;
    align-self: center;
    border: none;
    
}

.form button {
    margin: 0;
}

.submit:hover, .form button:hover {
    cursor: pointer;
    background-color: #413c6b;
    color: #fff;
}



@media (min-width: 400px) and (max-width: 768px) {
.container {
    display: flex;
    flex-direction: column;
    font-family: 'Urbanist' sans-serif;
    align-items: center;
    margin: 0;
}
.calendar {
    background-color: rgba(195, 230, 243, 0.3);
    padding: 1rem;
    width: auto;
    height: auto;
    border-radius: 5px;
    border: 1px solid #231f40;
    align-self: center;
}

.form {
    width: auto;
    height: auto;
    margin-left: 0;
    margin-top: 20px;
    gap: 0.5rem;
}

}