@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    display: flex;
    margin-left: 80px;
    font-family: 'Urbanist' sans-serif;
    align-items: center;
}

.calendar {
    background-color: rgba(195, 230, 243, 0.3);
    padding: 1rem;
    width: 550px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #231f40;
}

.calendar h3 {
    text-align: center;
    color: #231f40;
    font-size: larger;
}

table {
    background-color: rgba(195, 230, 243, 0.4);
    border-collapse: collapse;
    width: 100%;
}

th, td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #231f40;
}

.red {
    background-color: #90a9ec;
    color: white;
}

.gray {
    background-color: #415c83;
    color: white;
}

.orange {
    background-color: #5581a3;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 400px;
    height: 300px;
    margin-left: 250px;
}

.form label {
    display: flex;
    flex-direction: column;
}

button {
    color: #FFF;
    background-color: #3bb2de;
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
    align-self: center;
    border: none;
    
}

button:hover {
    cursor: pointer;
    background-color: #413c6b;
    color: #fff;
}