.horario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 25px;
}

.horario-texto {
    text-align: center;
    color: #2da2d8;
    font-size: 16px;
    font-weight: 700;
}

/*.horario:hover {
    background-color: #2da2d8 ;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}*/