@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding-top: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Urbanist', sans-serif;
    color: #103B6D;
}


/*-- Portada --*/
.portada {
    position: relative;
    width: 100%;
    height: 100.5vh;
    overflow: hidden;
}

.imagen-portada {
    position: absolute;
    width: 100%;
    height: 100%;
    height: auto;
    z-index: 0;
    object-fit: cover;
}

.banner {
    position: absolute;
    display: flex;
    z-index: 3;
    
    background-color: rgba(11, 32, 60, 0.35);
    border-radius: 10px;
    width: 50%;
    height: 400px;
    top: 30%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.banner-texto1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
}

.banner-texto2 {
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
}

/*-- Visita Caracol --*/
.visita-caracol {
    position: relative;
    width: 100%;
    top: 80px;
    height: 265vh;
    overflow: hidden;
}

.visita {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.texto-visita {
    position: absolute;
    top: 120px;
    width: 95%;
    height: auto;
    font-size: 20px;
    color: #103B6D;
    font-weight: 700;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.texto-visita2 {
    position: absolute;
    top: 700px;
    width: 95%;
    height: auto;
    font-size: 14px;
    color: #103B6D;
    font-weight: 800;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.texto-visita3 {
    position: absolute;
    top: 800px;
    width: 95%;
    height: auto;
    font-size: 18px;
    color: #103B6D;
    font-weight: 800;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

/*-- Salas --*/
.salas-container {
    position: absolute;
    display: flex;
    top: 100px;
    left: 50%;
    width: 97%;
    height: auto;
    transform: translateX(-50%);
    
}

.sala-tierra {
    position: absolute;
    top: 100px;
    width: 24%;
    height: auto;
    overflow: hidden;
    border-radius: 22px;
}

.sala-tierra:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.20);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sala-cielo {
    position: absolute;
    top: 98px;
    left: 25%;
    width: 24%;
    height: auto;
    border-radius: 22px;
}

.sala-cielo:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.20);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sala-mar {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 24%;
    height: auto;
    border-radius: 22px;
}

.sala-mar:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.20);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.planetario {
    position: absolute;
    top: 100px;
    left: 75%;
    width: 24%;
    height: auto;
    border-radius: 22px;
}

.planetario:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.20);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/*- Sensiorama -*/
.sensorama-container {
    position: absolute;
    display: flex;
    left: 50%;
    width: 97%;
    height: auto;
    transform: translateX(-50%);
}

.sensorama-container-texto {
    position: absolute;
    display: flex;
    top: 100px;
    width: 95%;
    height: auto;
    font-size: 20px;
    color: #103B6D;
    font-weight: 700;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.sensorama {
    position: absolute;
    top: 900px;
    left: 2%;
    width: 24%;
    height: auto;
    border-radius: 22px;
}

.texto-sensorama {
    position: absolute;
    top: 62.5rem;
    width: 67%;
    height: auto;
    font-size: 20px;
    color: #103B6D;
    font-weight: 700;
    text-align: center;
    left: 85%;
    transform: translateX(-80%);
}

.texto-sensorama2 {
    position: absolute;
    top: 70rem;
    width: 67%;
    height: auto;
    font-size: 16px;
    color: #103B6D;
    font-weight: 700;
    text-align: center;
    left: 85%;
    transform: translateX(-80%);
}

/*-- Recorrido --*/
.recorrido {
    position: absolute;
    display: flex;
    top: 1420px;
    left: 35%;
    width: 45%;
    height: auto;
    transform: translateX(-50%);
}

.texto-recorrido {
    position: absolute;
    top: 90rem;
    font-size: 24px;
    color: #103B6D;
    font-weight: 700;
    text-align: center;
    left: 78%;
    transform: translateX(-50%);
}

.disponibilidad-visita {
    position: absolute;
    top: 106.5rem;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.disponibilidad-visita-movil {
    display: none;
}

/*-- Ciencia al Aire Libre --*/
.ciencia-aire-libre {
    position: relative;
    width: 100%;
    top: 80px;
    height: 265vh;
    overflow: hidden;
}

.ciencia {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.texto-ciencia {
    position: absolute;
    top: 9.063rem;
    width: 95%;
    height: auto;
    font-size: 20px;
    color: #103B6D;
    font-weight: 700;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.texto-ciencia2 {
    position: absolute;
    top: 15rem;
    width: 95%;
    height: auto;
    font-size: 16px;
    color: #103B6D;
    font-weight: 800;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.paseo-bahia {
    position: absolute;
    top: 20rem;
    width: 30%;
    height: auto;
    left: 5%;
    overflow: hidden;
    border-radius: 22px;
}

.paseo-bahia:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.20);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.titulo-paseo {
    position: absolute;
    width: 62%;
    height: auto;
    color: #103B6D;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    top: 18rem;
    left: 85%;
    transform: translateX(-80%);
}

/*-- Footer --*/
.footer {
    width: 100%;
    height: 100px;
    background-color: #7d6dcd;
    text-align: center;
    line-height: 50px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    font-size: 14px;
    color: #000000;
}

/*-- Responsive Styles --*/
@media (min-width: 200px) and (max-width: 800px) {
    .portada {
        height: 100vh;
    }
    .imagen-portada {
        width: 100%;
        height: 100%;
        align-self: center;
        object-fit: cover;
    }
    .banner {
        width: 80%;
        height: 300px;
        top: 30%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
    }
    .banner-texto1 {
        font-size: 24px;
    }

    .banner-texto2 {
        top: 180px;
        font-size: 16px;
    }

    .visita-caracol {
        position: relative;
        width: 100%;
        top: 80px;
        height: 100vh;
        overflow: visible;
    }

    .visita {
        width:  90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .texto-visita {
        font-size: 16px;
        left: 50%;
        transform: translateX(-50%);
    }

    .visita-caracol {
        height: 450vh;
    }

    .sala-tierra{
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: auto;
    }

    .sala-tierra:hover {
        transform: translateX(-50%) translateY(-5px);
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.20);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .sala-cielo {
        width: 90%; 
        height: auto;
        top: 600px;
        left: 50%;
        transform: translateX(-50%);
    }

    .sala-cielo:hover {
        transform: translateX(-50%) translateY(-5px);
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.20);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .sala-mar {
        width: 90%;
        height: auto;
        top: 1100px;
        left: 50%;
        transform: translateX(-50%);
    }

    .sala-mar:hover {
        transform: translateX(-50%) translateY(-5px);
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.20);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .planetario {
        width: 90%;
        height: auto;
        top: 1600px;
        left: 50%;
        transform: translateX(-50%);
    }

    .planetario:hover {
        transform: translateX(-50%) translateY(-5px);
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.20);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .texto-visita2 {
        top: 2140px;
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
    }

    .texto-visita3 {
        top: 2200px;
        font-size: 16px;
        left: 50%;
        transform: translateX(-50%);
    }

    .sensorama-container {
        position: absolute;
        display: flex;
        left: 50%;
        width: 95%;
        height: auto;
        transform: translateX(-50%);
    }

    .sensorama {
        width: 90%;
        height: auto;
        top: 2260px;
        left: 50%;
        transform: translateX(-50%);
    }

    .sensorama-container-texto {
        top: 2260px;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .texto-sensorama {
        top: 2650px;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .texto-sensorama2 {
        top: 2850px;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .recorrido {
        position: absolute;
        display: flex;
        top: 2950px;
        left: 50%;
        width: 90%;
        height: auto;
        transform: translateX(-50%);
    }

    .texto-recorrido {
        position: absolute;
        top: 3030px;
        font-size: 20px;
        color: #103B6D;
        font-weight: 700;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }

    .disponibilidad-visita {
        display: none;
    }

    .disponibilidad-visita-movil {
        display: block;
        position: absolute;
        top: 3150px;
        width: 100%;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    /*-- ciencia-aire-libre --*/
    .ciencia-aire-libre {
        top: 450vh;
        height: 450vh;
    }
}