@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding-top: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Urbanist', sans-serif;
    color: #103B6D;
}


/*-- Portada --*/
.portada {
    position: relative;
    width: 100%;
    height: 100.5vh;
    overflow: hidden;
}

.imagen-portada {
    position: absolute;
    width: 100%;
    height: 100%;
    height: auto;
    z-index: 0;
    object-fit: cover;
}

.banner {
    position: absolute;
    display: flex;
    z-index: 3;
    
    background-color: rgba(11, 32, 60, 0.35);
    border-radius: 10px;
    width: 50%;
    height: 400px;
    top: 30%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.banner-texto1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
}

.banner-texto2 {
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
}

/*-- Iconos --*/
.iconos {
    display: flex;
    position: fixed;
    top: 140px;
    right: 1%;
    z-index: 1000;
}

/* -- header -- */
.header {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1000;
}

/*-- Footer --*/
.footer {
    top: 10rem;
    width: 100%;
    height: 100px;
    background-color: #7d6dcd;
    text-align: center;
    line-height: 50px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    font-size: 14px;
    color: #000000;
}

/*-- Visita Caracol --*/
.visita-caracol {
    position: relative;
    width: 100%;
    top: 80px;
    height: 265vh;
    overflow: hidden;
}

.visita {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.texto-visita {
    position: absolute;
    top: 120px;
    width: 95%;
    height: auto;
    font-size: 20px;
    color: #103B6D;
    font-weight: 700;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.texto-visita2 {
    position: absolute;
    top: 700px;
    width: 95%;
    height: auto;
    font-size: 14px;
    color: #103B6D;
    font-weight: 800;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.texto-visita3 {
    position: absolute;
    top: 800px;
    width: 95%;
    height: auto;
    font-size: 18px;
    color: #103B6D;
    font-weight: 800;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

/*-- Salas --*/
.salas-container {
    position: absolute;
    display: flex;
    top: 100px;
    left: 50%;
    width: 97%;
    height: auto;
    transform: translateX(-50%);
    
}

.sala-tierra {
    position: absolute;
    top: 100px;
    width: 24%;
    height: auto;
    overflow: hidden;
    border-radius: 22px;
}

.sala-cielo {
    position: absolute;
    top: 98px;
    left: 25%;
    width: 24%;
    height: auto;
    border-radius: 22px;
}

.sala-mar {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 24%;
    height: auto;
    border-radius: 22px;
}

.planetario {
    position: absolute;
    top: 100px;
    left: 75%;
    width: 24%;
    height: auto;
    border-radius: 22px;
}

/*- Sensiorama -*/
.sensorama-container {
    position: absolute;
    display: flex;
    left: 50%;
    width: 97%;
    height: auto;
    transform: translateX(-50%);
}

.sensorama-container-texto {
    position: absolute;
    display: flex;
    top: 100px;
    width: 95%;
    height: auto;
    font-size: 20px;
    color: #103B6D;
    font-weight: 700;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.sensorama {
    position: absolute;
    top: 900px;
    left: 2%;
    width: 24%;
    height: auto;
    border-radius: 22px;
}

.texto-sensorama {
    position: absolute;
    top: 62.5rem;
    width: 67%;
    height: auto;
    font-size: 20px;
    color: #103B6D;
    font-weight: 700;
    text-align: center;
    left: 85%;
    transform: translateX(-80%);
}

.texto-sensorama2 {
    position: absolute;
    top: 70rem;
    width: 67%;
    height: auto;
    font-size: 16px;
    color: #103B6D;
    font-weight: 700;
    text-align: center;
    left: 85%;
    transform: translateX(-80%);
}

/*-- Recorrido --*/
.recorrido {
    position: absolute;
    display: flex;
    top: 1420px;
    left: 35%;
    width: 45%;
    height: auto;
    transform: translateX(-50%);
}

.texto-recorrido {
    position: absolute;
    top: 90rem;
    font-size: 24px;
    color: #103B6D;
    font-weight: 700;
    text-align: center;
    left: 78%;
    transform: translateX(-50%);
}

.disponibilidad-visita {
    position: absolute;
    top: 106.5rem;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.disponibilidad-visita-movil {
    display: none;
}

/*-- Ciencia al Aire Libre --*/
.ciencia-aire-libre {
    position: relative;
    width: 100%;
    top: 80px;
    height: 265vh;
    overflow: visible;
}

.ciencia {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.texto-ciencia {
    position: absolute;
    top: 9.063rem;
    width: 95%;
    height: auto;
    font-size: 20px;
    color: #103B6D;
    font-weight: 700;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.texto-ciencia2 {
    position: absolute;
    top: 15rem;
    width: 95%;
    height: auto;
    font-size: 16px;
    color: #103B6D;
    font-weight: 800;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

/*-- Paseo Bahía --*/
.paseo-bahia-container {
    position: absolute;
    display: flex;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translateX(-50%);
}
.paseo-bahia {
    position: absolute;
    top: 20rem;
    width: 30%;
    height: auto;
    left: 5%;
    overflow: hidden;
    border-radius: 22px;
}

.titulo-paseo {
    position: absolute;
    width: 62%;
    height: auto;
    color: #103B6D;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    top: 20rem;
    left: 85%;
    transform: translateX(-80%);
}

.texto-paseo1 {
    position: absolute;
    width: 20%;
    height: auto;
    color: #103B6D;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    top: 28rem;
    left: 55%;
    transform: translateX(-80%);
    line-height: 27px;
    letter-spacing: 1%;
}

.texto-paseo2{
    position: absolute;
    width: 20%;
    height: auto;
    color: #103B6D;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    top: 28rem;
    left: 90%;
    transform: translateX(-80%);
    word-spacing: 1%;
    line-height: 40px;
}

/*-- Bufadora --*/
.bufadora-container {
    position: absolute;
    display: flex;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translateX(-50%);
}

.bufadora {
    position: absolute;
    top: 47rem;
    width: 30%;
    height: auto;
    left: 5%;
    overflow: hidden;
    border-radius: 22px;
}

.titulo-bufadora {
    position: absolute;
    width: 62%;
    top: 47rem;
    height: auto;
    color: #103B6D;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    left: 85%;
    transform: translateX(-80%);
}

.texto-bufadora1 {
    position: absolute;
    width: 20%;
    height: auto;
    color: #103B6D;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    top: 55rem;
    left: 55%;
    transform: translateX(-80%);
    line-height: 27px;
    letter-spacing: 1%;
}

.texto-bufadora2 {
    position: absolute;
    width: 20%;
    height: auto;
    color: #103B6D;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    top: 55rem;
    left: 90%;
    transform: translateX(-80%);
    word-spacing: 1%;
    line-height: 40px;
}

/*-- Avistamiento de Ballenas --*/
.avistamiento-de-ballenas {
    position: absolute;
    display: flex;
    top: 74.5rem;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translateX(-50%);
}

.ballenas {
    position: absolute;
    width: 30%;
    height: auto;
    left: 5%;
    overflow: hidden;
    border-radius: 22px;
}

.titulo-ballenas {
    position: absolute;
    width: 62%;
    height: auto;
    color: #103B6D;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    left: 85%;
    transform: translateX(-80%);
}

.texto-ballenas1 {
    position: absolute;
    width: 20%;
    height: auto;
    top: 10rem;
    color: #103B6D;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    left: 55%;
    transform: translateX(-80%);
    line-height: 27px;
    letter-spacing: 1%;
}

.texto-ballenas2 {
    position: absolute;
    width: 20%;
    height: auto;
    top: 10rem;
    color: #103B6D;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    left: 90%;
    transform: translateX(-80%);
    word-spacing: 1%;
    line-height: 40px;
}

.sumergete {
    position: absolute;
    display: flex;
    top: 100rem;
    left: 50%;
    width: 70%;
    height: auto;
    transform: translateX(-50%);
}

.sumergete-movil {
    display: none;
}

.disponibilidad-ciencia {
    position: absolute;
    top: 123rem;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.disponibilidad-ciencia-movil {
    display: none;
}

/*-- Final --*/

.final {
   position: relative;
   top: 22rem;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.texto-final {
    position: absolute;
    width: 95%;
    height: auto;
    font-size: 30px;
    color: #103B6D;
    font-weight: 900;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 4.8%;
    line-height: 50px;
    text-transform: uppercase;
}

.perder {
    position: absolute;
    width: 95%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
}

.perder-movil {
    display: none;
}

.texto-final2 {
    position: absolute;
    width: 95%;
    height: auto;
    font-size: 20px;
    color: #103B6D;
    font-weight: 700;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 1.5%;
    line-height: 30px;
    top: 290px;
}

/*-- Mas informacion --*/
.mas-informacion {
    position: relative;
    top: 24rem;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.info1 {
    position: absolute;
    width: 95%;
    height: auto;
    font-size: 30px;
    color: #103B6D;
    font-weight: 900;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 4.8%;
    line-height: 50px;
    text-transform: uppercase;
}

    
.mas-informacion-container {
    top: 7rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    align-items: center;
    gap: 5rem;
    font-size: large;
}

.telefono-text {
    text-align: center;
}

.tel {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
}

.tel1 {
    text-decoration: underline;
    cursor: pointer;
}

.tel2 {
    text-decoration: underline;
    cursor: pointer;
}

.correo-text {
    text-align: center;
}

.correo {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
}

.lol {
    text-decoration: underline;
    cursor: pointer;
}

.whatsapp-text {        
    text-align: center;
}

.whatsapp {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
}

.whattel {
    text-decoration: underline;
    cursor: pointer;
}

/*-- Responsive Styles --*/
@media (max-width: 400px) {
    body, html {
        margin: 0;
        height: 100%;
        font-family: 'Urbanist', sans-serif;
    }

    .main {
        width: 100%;
        height: 100%;
    }

    .portada {
        height: 100vh;
    }

    .iconos {
        display: none;
    }

    .header {
        display: none;
    }

    .footer {
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #7d6dcd;
        text-align: center;
        line-height: 50px;
    }

    .imagen-portada {
        width: 100%;
        height: 100%;
        align-self: center;
        object-fit: cover;
    }
    .banner {
        width: 80%;
        height: 18.75rem;
        top: 30%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
    }

    .banner-texto1 {
        font-size: 24px;
    }

    .banner-texto2 {
        top: 11.25rem;
        font-size: 16px;
    }

    .visita-caracol {
        position: relative;
        width: 100%;
        top: 5rem;
        height: 530vh;
        overflow: hidden;
    }

    .visita {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .texto-visita {
        font-size: 16px;
        left: 50%;
        transform: translateX(-50%);
    }

    .sala-tierra{
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: auto;
    }

    .sala-cielo {
        width: 90%; 
        height: auto;
        top: 37.5rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .sala-mar {
        width: 90%;
        height: auto;
        top: 68.75rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .planetario {
        width: 90%;
        height: auto;
        top: 100rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .texto-visita2 {
        top: 136.5rem;
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
    }

    .texto-visita3 {
        top: 139.5rem;
        font-size: 16px;
        left: 50%;
        transform: translateX(-50%);
    }

    .sensorama-container {
        position: absolute;
        display: flex;
        left: 50%;
        width: 95%;
        height: auto;
        transform: translateX(-50%);
    }

    .sensorama {
        width: 90%;
        height: auto;
        top: 142rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .sensorama-container-texto {
        top:  160rem;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .texto-sensorama {
        top: 170rem;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .texto-sensorama2 {
        top:  182rem;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .recorrido {
        position: absolute;
        display: flex;
        top:  188rem;
        left: 50%;
        width: 90%;
        height: auto;
        transform: translateX(-50%);
    }

    .texto-recorrido {
        position: absolute;
        top: 194rem;
        font-size: 20px;
        color: #103B6D;
        font-weight: 700;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }

    .disponibilidad-visita {
        display: none;
    }

    .disponibilidad-visita-movil {
        display: block;
        position: absolute;
        top:  202rem;
        width: 100%;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    /*-- ciencia-aire-libre --*/
    .ciencia-aire-libre {
        top: 10rem;
        height: 430vh;
        overflow: hidden;
    }

    .ciencia {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .texto-ciencia {
        top: 8rem;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .texto-ciencia2 {
        top: 16.5rem;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        font-size: small;
    }

    .paseo-bahia-container {
        position: absolute;
        display: flex;
        left: 50%;
        width: 95%;
        height: auto;
        transform: translateX(-50%);
    }

    .paseo-bahia {
        position: absolute;
        width: 90%;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .titulo-paseo {
        position: absolute;
        width: 99%;
        height: auto;
        color: #103B6D;
        font-weight: 900;
        font-size: 33px;
        text-align: center;
        top: 37rem;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 1%;
    }

    .texto-paseo1 {
        position: absolute;
        width: 90%;
        height: auto;
        color: #103B6D;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        top: 41.5rem;
        left: 50%;
        transform: translateX(-50%);
        line-height: 27px;
        letter-spacing: 1%;
    }

    .texto-paseo2 {
        position: absolute;
        width: 90%;
        height: auto;
        color: #103B6D;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        top: 49.5rem;
        left: 50%;
        transform: translateX(-50%);
        word-spacing: 1%;
        line-height: 38px;
    }

    .bufadora-container {
        position: absolute;
        display: flex;
        left: 50%;
        width: 95%;
        height: auto;
        transform: translateX(-50%);
    }

    .bufadora {
        position: absolute;
        width: 90%;
        height: auto;
        left: 50%;
        top: 58rem;
        transform: translateX(-50%);
    }

    .titulo-bufadora {
        position: absolute;
        width: 99%;
        top: 75rem;
        height: auto;
        color: #103B6D;
        font-weight: 900;
        font-size: 33px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 1%;
    }

    .texto-bufadora1 {
        position: absolute;
        width: 90%;
        height: auto;
        color: #103B6D;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        top: 81.5rem;
        left: 50%;
        transform: translateX(-50%);
        line-height: 27px;
        letter-spacing: 1%;
    }

    .texto-bufadora2 {
        position: absolute;
        width: 90%;
        height: auto;
        color: #103B6D;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        top: 88rem;
        left: 50%;
        transform: translateX(-50%);
        word-spacing: 1%;
        line-height: 38px;
    }

    .avistamiento-de-ballenas {
        position: absolute;
        display: flex;
        top: 97rem;
        left: 50%;
        width: 95%;
        height: auto;
        transform: translateX(-50%);
    }

    .ballenas {
        position: absolute;
        width: 90%;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .titulo-ballenas {
        top: 16rem;
        position: absolute;
        width: 99%;
        height: auto;
        color: #103B6D;
        font-weight: 900;
        font-size: 33px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 1%;
    }
    
    .texto-ballenas1 {
        position: absolute;
        width: 90%;
        height: auto;
        top: 23rem;
        color: #103B6D;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        line-height: 27px;
        letter-spacing: 1%;
    }

    .texto-ballenas2 {
        position: absolute;
        width: 90%;
        height: auto;
        top: 30rem;
        color: #103B6D;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        word-spacing: 1%;
        line-height: 38px;
    }

    .sumergete {
        display: none;
    }

    .sumergete-movil {
        position: absolute;
        display: flex;
        top: 135rem;
        left: 50%;
        width: 90%;
        height: auto;
        transform: translateX(-50%);
    }

    .disponibilidad-ciencia {
        display: none;
    }

    .disponibilidad-ciencia-movil {
        display: block;
        position: absolute;
        top: 162rem;
        width: 100%;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .final {
        top: 10rem;
        height: 68vh;
        overflow: hidden;
    }

    .texto-final {
        position: absolute;
        height: auto;
        font-size: 24px;
        color: #103B6D;
        font-weight: 900;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 4.8%;
        line-height: 40px;
    }

    .perder {
        display: none;
    }

    .perder-movil {
        position: absolute;
        display: flex;
        width: 90%;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
        top: 17.75rem;
    }

    .texto-final2 {
        position: absolute;
        width: 90%;
        height: auto;
        font-size: 16px;
        color: #103B6D;
        font-weight: 700;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 1.5%;
        line-height: 30px;
        top: 24rem;
    }


    /* -- Mas informacion -- */

    .mas-informacion {
        top: 11rem;
        height: 85vh;
        overflow: hidden;
    }

    .info1 {
        position: absolute;
        width: 98%;
        height: auto;
        font-size: 24px;
        color: #103B6D;
        font-weight: 900;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 4.8%;
        line-height: 40px;
    }

    .mas-informacion-container {
        top: 7rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        font-size: medium;
    }

    .telefono-text {
        text-align: center;
    }

    .tel {
        font-weight: 900;
        text-transform: uppercase;
        
    }

    .tel1 {
        text-decoration: underline;
        cursor: pointer;
    }

    .tel2 {
        text-decoration: underline;
        cursor: pointer;
    }

    .correo-text {
        text-align: center;
    }

    .correo {
        font-weight: 900;
        text-transform: uppercase;
    }

    .lol {
        text-decoration: underline;
        cursor: pointer;
    }

    .whatsapp-text {
        text-align: center;
    }

    .whatsapp {
        font-weight: 900;
        text-transform: uppercase;
    }

    .whattel {
        text-decoration: underline;
        cursor: pointer;
    }

}
